@value fontMontserrat from '../../../styles/variables.module.css';
@value main-text-color from '../../../styles/variables.module.css';
@value background-white-color from '../../../styles/variables.module.css';
@value min-width-tablet from '../../../styles/variables.module.css';
@value max-width-desktop from '../../../styles/variables.module.css';

.chartWrapper{
    background-color: background-white-color;
    /* padding: 14px 21px 39px; */
    
    padding: 14px 21px 39px 22px;
}
.chartWrapper canvas{
    width: 227px !important;
    height: 190px !important;
}

.titleChart{
    font-family: fontMontserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    color: main-text-color;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 9px;
}

@media (min-width: min-width-tablet) {
    .chartWrapper{
        background-color: background-white-color;
        /* padding: 14px 21px 39px; */
        
        padding: 25px 35px 50px 36px;
    }
    .chartWrapper canvas{
        width: 607px !important;
        height: 215px !important;
    }
    .titleChart{
        margin-bottom: 12px;
    }
}
@media (min-width: max-width-desktop) {
    .chartWrapper{
        background-color: background-white-color;
        /* padding: 14px 21px 39px; */
        
        padding: 25px 36px 50px 39px;
    }
    .chartWrapper canvas{
        width: 811px !important;
    }
}