.dateInputBlock {
    width: auto;
    text-align: center;
    margin-bottom: 4px;
}

.input__list {
    text-align: center;
}

.input__item:not(:last-child) {
    margin-bottom: 4px;
}

.contactForm__btn {
    font-size: 14px;
    width: 120px;
    height: 30px;
    margin-top: 70px;
}