@value min-width-tablet from '../../styles/variables.module.css';
@value max-width-desktop from '../../styles/variables.module.css';
@value fontMontserrat from '../../styles/variables.module.css';
@value accent-color from '../../styles/variables.module.css';

.container {
  width: 320px;
  display: flex;
  justify-content: center;
  padding-right: 25px;
  padding-left: 25px;
  margin-left: auto;
  margin-right: auto;
}
.btn__wrap {
  display: none;
}

.btn {
  margin-bottom: 40px;
  width: 171px;
  height: 42px;
  color: #fff;
  background-color: accent-color;
  border: none;
  font-size: 14px;
  font-family: fontMontserrat;
  font-weight: 500;
}
.wrapperForm{
  display: none;
}
@media (min-width: min-width-tablet) {
  .wrapperForm{
    display: block;
  }
  .btn__wrap {
    display: flex;
    justify-content: center;
  }
  .container {
    width: 768px;
    padding-right: 45px;
    padding-left: 45px;
    padding-top: 30px;
    padding-bottom: 56px;
  }
  .btn {
    width: 200px;
    height: 40px;
  }
}

@media (min-width: max-width-desktop) {
  .container {
    width: 1280px;
    padding-right: 39px;
    padding-left: 39px;
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .grids{
    display: flex;
    flex-direction: row-reverse;
  }
}
