@value fontMontserrat from '../../../styles/variables.module.css';
@value main-text-color from '../../../styles/variables.module.css';
@value secondary-text-color from '../../../styles/variables.module.css';
@value min-width-tablet from '../../../styles/variables.module.css';
@value max-width-tablet from '../../../styles/variables.module.css';
@value max-width-desktop from '../../../styles/variables.module.css';


.bookItemTitle{
    display: none;
}

.bookList {
    width: 270px;
}
@media screen and (min-width: min-width-tablet) and (max-width: max-width-tablet) {
    .bookDescrList{
        display: flex;
    }
    .bookItemTitle{
        display: block;
    }
    .subTitle{
        font-family: fontMontserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 38px;
        color: secondary-text-color;
    }
    .bookDescrItem{
    }
    .bookDescrItem:nth-child(1){
        width: 38%;
    }
    .bookDescrItem:nth-child(2){
        width: 25%;
    }
    .bookDescrItem:nth-child(3){
        width: 18%;
    }
    .bookDescrItem:nth-child(4){
        width: 17%;
    }
    .bookList{
        width: 678px;
        height: 220px;
        overflow-y: scroll;
    }
}

@media (min-width: max-width-desktop){
    .bookList {
        width: 886px;
        height: 174px;
        overflow-y: scroll;
}
.bookItemTitle {
    display: block;
}
.bookDescrList {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
    color: secondary-text-color;
    font-family: fontMontserrat;
}

.bookDescrItem:nth-child(1) {
    width: 32%;
}

.bookDescrItem:nth-child(2) {
    width: 20%;
}

.bookDescrItem:nth-child(3) {
    width: 14%;
}

.bookDescrItem:nth-child(4) {
    width: 18%;
}
}