@value min-width-tablet from '../../../styles/variables.module.css';

.isHidden {
  display: none;
}
.formMobWrapper {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f6f7fb;
}
.modalCloseBtn__wrap {
  width: 100%;
  display: flex;
  justify-content: start;
}

.btn__wrap {
  text-align: center;
}

.btn__add {
  display: inline-block;
  width: 171px;
  height: 42px;
  margin-top: 28px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #242a37;
  background-color: #f6f7fb;
  font-size: 14px;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
}
@media (min-width: min-width-tablet) {
  .formMobWrapper {
    display: none;
  }
}
